<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blockasaurus 🦖</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    
    <header>
      <h1>
        Blockasaurus 🦖
      </h1>
    </header>

    <main>
      <div id="twitterUser" style="position:fixed;top:20px;right:20px;"></div>
      <p class="bold">Attempted to block <%= accounts.length %> users!</p>

      <% if (accounts.length > 20) { %>
      <p>Currently, small batches have a higher rate of success than large batches.<p>
      <% } %>

      <p>You can check to see how many were successfully blocked:</p>
      <table class="blockTargets">
        <tbody>
          <% for (var i = 0; i < accounts.length; i++) { %>
          <tr>
            <td id="td_account_<%= accounts[i] %>"><a target="checkblocked" href="https://twitter.com/<%= accounts[i] %>">@<%= accounts[i] %></a></td>
            <td id="td_status_<%= accounts[i] %>"><img src="https://cdn.glitch.com/a696e8e5-b462-4fbc-8254-b277368ab8d4%2Fspinner12.gif?v=1615542690499"></td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <p>
        <a href="/">Block some more</a>?
      </p>
      
    </main>

    <footer>
      Modified by <a href="https://twitter.com/JoeSondow/">@JoeSondow</a>,   
      based on <a href="https://github.com/Rumpelcita/poop-blocker">poop-blocker</a> 
      made by <a href="https://github.com/Rumpelcita">rumpel</a>
      with <a href="https://glitch.com">Glitch</a>!<br>
    </footer>

    <!-- import the webpage's client-side javascript file -->
    <script>
      (function() {
        var screenNamesToBlock = [
        <% for (var k = 0; k < accounts.length; k++) { %>
          <% if (k >= 1) { %>,<% } %>
          '<%= accounts[k] %>'
        <% } %>
        ];
        window.blockasaurus = {
          <% if (accessTokenPair) { %>
          accessTokenPair: '<%= accessTokenPair %>',
          <% } %>
          screenNamesToBlock: screenNamesToBlock
        };
      })();
    </script>

    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <script src="/client.js" defer></script>
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>
        
  </body>
</html>
